
/*GENERAL STYLES*/

body{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

.bodySlide1{
  background-image: url(../img/MountainsBackground1.png);
}

.bodySlide2{
  background-image: url(../img/MountainsBackground2.png);
}

.mobileBody{
  background-image: none;

}

#mainWrap{
  position: relative;
  width: 100%;
}

h1, a{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
}

li{
  list-style: none;
}


/*HEADER STYLES*/

header{
  width: 100%;
  background-image: url(../img/navGradient.png);
  position: relative;
  height: 300px;
}

#headerWrap{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

#altosLogo{
  margin-top: 2em;
}

#altosMobileLogo{
  display: none;
}


/*NAV STYLES*/

nav{
   position: absolute;
   top: 2em;
   right: 0;
}

#topNav{
  position: relative;
  display: table-cell;
}
 
#topNav a{
  font-size: .8em;
  margin-left: 1.2em;
  vertical-align: middle;
}

#topNav, #mainNav{
  float: right;
  clear: both;
}

#searchPanel{
  display: none;
  background-color: rgba(95, 95, 95, 0.9);
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#searchButton{
  background-color: rgba(255, 255, 255, 1);
  color: rgba(102, 102, 102, 1);
  width: 4em;
  height: 1.5em;
  border: none;
  z-index: 10000;
  float: right;
}

#searchPanel div{
  position: relative;
  width: 50%;
  margin: 0 auto;
  z-index: 10000;
  display: block;
  margin-top: 3em;
}

#searchPanel img{
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

#searchInput{
  width: 80%;
  float: left;
  color: rgba(102, 102, 102, 1);
}

#searchIcon{
  margin-bottom: -7px;
  cursor: pointer;
}

#mobileSearch{
  display: none;
}

#mainNav{
  margin-top: .8em;
}

#mainNav ul li{
  float: left;
  margin-left: 1.2em;
}

#mainNav ul li a{
  text-transform: uppercase;
}

.subMenu{
  display: none;
}

.subMenu li{
  float: none;
}

#menuIconBlack{
  display: none;
}

#checkoutIcon{
  display: none;
}


/*CONTENT STYLES*/

#content{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#content h1{
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5em;
}

#centerContent{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#viewProductButton{
  border: solid 1px #fff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  padding: 1em;
}

#backgroundSelector{
  position: absolute;
  bottom: 2em;
}

#backgroundSelector div{
  width: 70px;
  margin-right: 10px;
  border: solid 2px #fff;
  height: 10px;
  float: left;
  cursor: pointer;
}

.buttonActive{
  background-color: #fff;
}

#mobileContent{
  display: none;
}


/*RESPONSIVE STYLES*/

@media (max-width: 700px){
  header{
    background-image: none;
    height: 100px;
  }

  #altosLogo{
    display: none;
  }

  #altosMobileLogo{
    display: block;
    position: absolute;
    top: 2em;
    left: 0;
  }

  #checkoutIcon{
    display: block;
    position: absolute;
    top: .1em;
    right: 3em;
    border: 0;
    cursor: pointer;
  }

  #menuIconBlack{
    display: block;
    position: absolute;
    top: .5em;
    right: 0;
    cursor: pointer;
  }

  #topNav{
    display: none;
  }

  #mainNav{
    margin-top: 0;
    background-color: #000;
    color: #fff;
  }

  #mainNav ul li{
    float: none;
    margin-left: 0;
  }

  #mainNav ul li a{
    font-size: 1.2em;
  }
  #mm-0{
    margin-top: 4em;
  }

  #mm-1{
    padding: 0;
  }

  .mm-menu .mm-listview > li:after {
    border-color: transparent;
  }

  .subMenu{
    display: inline;
    padding: 0;
  }

  .subMenu li{
    background: #959595;
  }

  .subMenu li a{
    text-transform: capitalize !important;
  }

  .mm-menu .mm-listview > li > a.mm-prev:before, .mm-menu .mm-listview > li > a.mm-next:after {
    border-color: #fff;
  }

  #mobileSearch{
    height: 4em;
    border-bottom: 1px solid #fff;
    margin: 0 1.2em;
    padding-left: 0;
    display: block;
  }

  #mobileSearch input{
    display: block;
    background-color: #000;
    height: 2em;
    border: none;
    border-radius: 10px;
    outline: none;
    float: left;
  }

  #mobileSearch input::-webkit-input-placeholder {
    color: #fff;
  }

  #mobileSearch input:-moz-placeholder { /* Firefox 18- */
     color: #fff;  
  }

  #mobileSearch input::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;  
  }

  #mobileSearch input:-ms-input-placeholder {  
     color: #fff;  
  }

  #mobileSearch img{
    float: right;
    margin-top: .3em;
    cursor: pointer;
  }

  #centerContent{
    display: none;
  }

  #backgroundSelector{
    display: none;
  }

  #mobileContent{
    width: 100%;
    display: block;
    position: relative;
  }

  #mobileContent img{
    width: 100%;
    margin: 0 auto;
  }

  #mobileContent h1{
    color: #000;
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 2em;
  }
}












